.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@font-face {
	font-family: Variane;
	src: url(../fonts/variane-script.ttf);
}

@font-face {
	font-family: Typoster;
	src: url(../fonts/Typoster.otf);
}

@font-face {
	font-family: Geneva;
	src: url(../fonts/Geneva.ttf);
}

header {
	width: 100%;
}

header img {
	width: 300px;
	margin: auto;
	display: block;
}

header h2 {
	text-align: center;
	font-family: Variane;
	font-size: 48px;
	font-weight: 300;
	color: #295fb0;
}

section {
	width: 100%;
	background-image: url("../img/bkgd2.png");
}

h3 {
	font-family: Variane;
	font-size: 48px;
	font-weight: 300;
	color: #e64a4a;
	text-align: center;
	margin: 10px;
}

h4 {
	font-family: Typoster;
	font-size: 28px;
	font-weight: 300;
	color: #5dbdea;
	text-align: center;
	margin: 10px;
}

p {
	font-family: Geneva;
	color: #2f2f2f;
}

a {
	color: #5dbdea;
	text-decoration: none;
}

a:hover {
	color: #295fb0;
}

button {
	padding: 20px;
	margin: 5px;
	border: none;
	display: block;
	background-color: #5dbdea;
	color: white;
	font-family: Geneva;
}

button:hover {
	background-color: #295fb0;
}

article {
	background-color: white;
}

#structure-article {
	padding: 20px;
	border-top: 1px solid #5dbdea;
}

@media all and (min-width: 600px) {
	#structure-article {
		width: calc(100% / 3 * 2);
		margin: 20px;
		border: 1px solid #5dbdea;
		float: right;
	}
}

.textures {
	width: 100%;
}

@media all and (min-width: 500px) {
	#texture-article {
		clear: both;
		width: 80%;
		margin: 20px auto;
		padding: 10px;
		border: 1px solid #5dbdea;
	}
	.textures {
		width: calc(100% / 3 - 12px);
		margin: 5px;
		border: 1px solid #ffffff;
	}
	.textures:hover {
		border: 1px solid #5dbdea;
	}
}
